/* Orcamento.css */

/* Container do formulário */
.form {
  background-color: #ffffff;
  padding: 40px;
  max-width: 800px; /* Aumentado para ocupar mais espaço horizontalmente */
  width: 100%; /* Responsividade */
  margin: 0 auto; /* Centralizar horizontalmente */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  height: 70vh; /* Ajusta o formulário para ocupar 70% da altura da tela */
  margin-top: 15vh; /* Centraliza verticalmente com margem superior */
  margin-bottom: 15vh; /* Ajuste a margem inferior, se necessário */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaço entre os elementos */
  padding-bottom: 20px; /* Um pouco de espaço no final para o botão */
}

/* Título do formulário */
.title {
  font-size: 1.5rem;
  color: #4CAF50;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Flex container para inputs alinhados lado a lado */
.flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* Estilo para os labels */
label {
  position: relative;
  display: block;
  margin-bottom: 20px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #4CAF50; /* Borda verde para os labels */
  color: #333; /* Cor do texto do label */
}

/* Estilo dos inputs */
.input {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* Placeholder como label flutuante */
.input + span {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  pointer-events: none;
}

/* Estilo quando o input está em foco */
.input:focus {
  border-color: #388E3C;
  background-color: #ffffff;
}

.input:focus + span,
.input:not(:placeholder-shown) + span {
  top: -10px;
  left: 10px;
  font-size: 0.75rem;
  color: #4CAF50;
  background-color: #fff;
  padding: 0 5px;
  border-radius: 3px;
}

/* Estilo para o botão do WhatsApp */
.whatsapp-button {
  width: 100%;
  padding: 12px;
  background-color: #70a470;
  color: #ffffff;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; /* Espaçamento entre o botão e os campos */
}

.whatsapp-button:hover {
  background-color: #1ebe57;
}

/* Responsividade */
@media (max-width: 768px) {
  .form {
    box-shadow: none;
    border-radius: 0;
  }

  .input {
    border: none;
    background-color: #fff;
  }

  /* Remover bordas do botão do WhatsApp */
  .whatsapp-button {
    border: none;
    background-color: #70a470;
  }
}
